<!DOCTYPE html>
<html>
<head>
<script src="http://codeparkhouston.com/hs-utils/assets/lib.js"></script>
  <link type="text/css" rel="stylesheet" href="http://codeparkhouston.com/hs-utils/assets/lib.css">
   <link type="text/css" rel="stylesheet" href="http://codeparkhouston.com/hs-fall-2015/lesson-09/assets/list.css">
  <meta charset="utf-8">
  <title>JS Bin</title>
</head>
<body>
      <div id="display" class="container">
      <div class="contols">
       <button onclick="myCharacter.Selfmodification()">Selfmodification</button>
      <button class="black" onclick="myCharacter.Revert();Enemy.attack()">Revert</button>
      <button class="black" onclick="myCharacter.Speed()">Speed</button>
      <button class="black" onclick="myCharacter.Punch();Enemy.attack()">Punch</button>
      <button class="black" onclick="myCharacter.Cut();Enemy.attack()" >Cut</button>
      <button class="black" onclick="myCharacter.Barrage();Enemy.attack();Enemy.attack()">Barrage</button>
      </div>
      <div class="row">
        <div id="card" class='list-group'>
          
        </div>
      </div>
    </div>

    <div id="templates">
      <div class="template card" id="item-template">
        <h3 class="name">{{character.name}}</h3>
        <% if(typeof character.image !== 'undefined'){ %>
        <img class="img-responsive" src="{{character.image}}"/>
        <% }
        var features = _.omit(character, 'image', 'name', 'EndGamenumber','canMultiply','canMultiplyTwo',"specialPowers2","angelIdol");
        features = _.omit(features, _.isFunction);
        _.each(features, function(feature, featureName){
          var featureClass = _.snakeCase(featureName).replace('_', '-');
          var featureLabel = _.capitalize(_.words(featureName).join(' '));
          if(_.isArray(feature)){
            feature = feature.join(', ');
          }%>
          <p class="details {{featureClass}}"><strong>{{featureLabel}}:</strong> {{feature}}</p>
        <%});%>
      </div>
    </div>
  
  
  <script src="http://codeparkhouston.com/hs-fall-2015/lesson-09/assets/main.js"/></script>

  <script type="text/javascript" src="./The True Game Begins.js"></script>
</body>
</html>